<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.track.dao.HelloMapper">

    <select id="sayHello" resultType="com.mybatis.track.domin.UserDo">
        select name, age from test_student
    </select>

</mapper>